@import 'bootstrap-reboot';

@mixin bg {
    background: rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 5px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);
}

html {
    min-height: 100vh;
    font-family: monospace;
    // background-color: #51385d;
    background-color: #f5f6f7;
    // background-image: url('./bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    // background-color: #000;
    color: #fff;
    background: none;
    padding: 0 50px;
}

.container {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 50px;
}

.code_editor {
   
    .header {
        border-radius: 0 !important;
        .dropdown > .mark > div {
            color: #1b1b32 !important;
        }
    }
    .copy_code > svg {
        stroke: #1b1b32 !important;
    }
    .code_area {
        border-radius: 0 !important;
        textarea {
            background: inherit !important;
            border-radius: 0 !important;
            &::-webkit-scrollbar {
                height: 0;
                width: 5px;
                background-color: white;
                // border-radius: 3px;
            }
    
            &::-webkit-scrollbar-thumb {
                // border-radius: 3px;
                background-color: grey;
                cursor: pointer;
            }
        }
    }

    &_custom {
        border-radius: 0px !important;
        // border: 3px solid #1b1b32;
    }
    
}

.settings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: baseline;
}
.editor {
    border: 3px solid#1b1b32;
}
.button {
    height: 45px;
    width: max-content;
    font-size: 20px;
    padding: 0 30px;
    color: #1b1b32;
    border: none;
    // background-color: #8456b6;
    background-color: #d0d0d5;
    // border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    border: 3px solid#1b1b32;
    &:focus {
        outline: none;
    }

    &:hover {
        // box-shadow: 3px 3px 3px #282c34;
        background-color: #1b1b32;
        color: #fff ;
    }
}

.dropdown-select {
    color: #fff;
    font-size: 17px;
    // @include bg ;
    background: #282c34;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    

    &__text {
        background-color: inherit;
        font-size: 17px;
        border: none;
        border-radius: inherit;
        color: inherit;
        padding-left: 30px;
        width: 100%;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        &:focus {
            outline: none;
        }
        
    }

    &__menu {
        // @include bg ;
        width: 100%;
        border-radius: 8px;
        height: auto;
        position: absolute;
        left: 0;
        top: 110%;
        background: inherit;
        transition: 0.2s;
        transform-origin: top;
        transition: transform 2s ease-in-out;

        ul {
            padding: 0;
            margin: 5px 0;
            li {
                list-style: none;
            }
        }


    }

    &__item {
        padding: 5px;
        padding-left: 30px;
        cursor: pointer;

        // transition: 0.2s;
        &:hover {
            background-color: #48494d;
        }

        &.active {
            background-color: #48494d;
        }
    }
}

.result-object {
    background: #fafafa;
    // border-radius: 8px 8px;
    border: 3px solid#1b1b32;
    .copy_code > svg {
        stroke: #1b1b32;
    }
    &__header {
        position: relative;
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        padding: 0 18px;

        h3 {
            // color: rgb(170, 170, 170);
            color: #1b1b32;
            margin: 0;
            padding: 0;
            font-weight: 400;
            opacity: 0.5;
        }

        .copy_code {
            position: absolute !important;
            top: 10px;
            right: 12px;
            transition: 0.2s opacity ease;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__result {
        padding: 0 12px 10px;
        color: #1b1b32;
    }
}

.hiddenHTML {
    display: none;
}



.slide-enter-from {
    transform: translateY(-20px);
    opacity: 0;
}

.slide-enter-active {
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.61, -0.53, .43, 1.43);
}


.slide-leave-active {
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.61, -0.53, .43, 1.43);
}

.slide-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}